* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: gray;
    text-align: center;
}

header{
    margin-top: 100px;
    color: white;
}

section{
    position: relative;
    width: 450px;
    height: 350px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px ;
    background-color: white;
}

img {
    margin-top: 35px;
}

input{
    width: 80px;
}

input[type=button] {
    padding: 10px;
    margin: 20px 10px;
    background-color: gray;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.tool{
    position: absolute;
    top: 0;
    right: 0;
}
.troca{
    position: relative;
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 50%;
}
.wrench{
    position: absolute;
    top: -5px;
    left: 19px;
    cursor: pointer;

}

footer {
    color: white;
}